$background-100: #f7f7f7;

$primary-100: #00c853;
$primary-200: #009624;

$neutral-100: #ffffff;
$neutral-400: #b0b0b2;
$neutral-300: #d2d2d2;
$neutral-500: #717172;

$shadow-100: $neutral-100;
$shadow-200: $neutral-300;

$text: $neutral-500;